*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/* centrar elementos del body */
body {
    margin: auto;
    padding: 100px;
    background-color: rgb(20, 20, 20);

}

h2 {
    color: white;
    font-size: 2.5em;
}

.container-input{
    margin: 10px;
}
input {
    background-color: rgb(20, 20, 20);
    margin: 5px;
    width: 37%;
    padding: 3px;
    border: 2px solid rgb(28, 186, 120);
    border-radius: 5px;
}

input:valid {
    background-color: rgb(28, 186, 120);
}


label, span, p{
    font-size: 1.2em;
    color: #fff;
}

#info{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.container-input{
    display: flex;
    flex-direction: column;
}

.container__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.container__store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: peru;
}

#infoProducts{
    width: 100%;
    height: auto;
}

.container__store h2{
    font-size: 2rem;
    font-family: sans-serif;
}

.container__store button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.container_elements{
    width: 100%;
    height: 40px;
    background-color: rgb(93, 36, 117);
}

select {
    background: none;
    color: whitesmoke;
    width: 23%;
    padding: 3px;
    border: 2px solid rgb(28, 186, 120);
    border-radius: 4px;
}
option{
    background-color: black;
}

.container__info-products{
    border: 2px solid rgb(115, 27, 27);
}