*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

/* centrar elementos del body */
body {
    margin: auto;
    padding: 100px;
    background-color: #4f2a69;

}

.container-input{
    margin: 10px;
}
input {
    width: 37%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button  {
    cursor: pointer;
    background-color: aquamarine;
    padding: 4px;
    border-radius: 3px;
}

label, span, p{
    font-size: 1.2em;
    color: #fff;
}

#info{
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.container__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.container__store{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0px 20px;
    border-radius: 10px;
    background-color: peru;
}

#infoProducts{
    width: 100%;
    height: auto;
}

.container__store h2{
    font-size: 2rem;
    font-family: sans-serif;
}

.container__store button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.container_elements{
    width: 100%;
    height: 40px;
    background-color: rgb(93, 36, 117);
}
